<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="36977kulkarniankita.DB2Basics" Version="1.0.0.0" Publisher="CN=5DFCC599-6797-4B6F-8B3A-A02A112877A2" />
  <Properties>
    <DisplayName>DB2 Basics</DisplayName>
    <PublisherDisplayName>kulkarniankita</PublisherDisplayName>
    <Logo>images\tile_50x50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="DB2 Basics" Logo="images\tile_150x150.png" SmallLogo="images\tile_30x30.png" Description="DB2 Basics App is a basic tutorial guide to learn the steps of IBM db2. DB2 is a relational model database which is very helpful in enterprise applications. It is available on all systems and this guide will help you to install db2, learn concepts which will help you in development." ForegroundText="light" BackgroundColor="#184050" ToastCapable="true">
        <DefaultTile ShowName="allLogos" WideLogo="images\tile_310x150.png" />
        <SplashScreen Image="images\tile_620x300.png" BackgroundColor="#184050" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>